
::selection {
    background: #000;
    color: #fff
}

::-moz-selection {
    background: #000;
    color: #fff
}

.card {
    padding: 1.3rem;
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 100px;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, .125);
    border-radius: .25rem;
    box-shadow: 3px 3px 10px 1px rgba(0, 0, 0, 0.1);
}

.post-header {
    margin-bottom: 2.2rem;
    margin-top: -1rem;
}

.post-content {
    padding-top: 1rem;
    padding-bottom: 1.5rem;
}

.date {
    margin: -1.3rem;
    background: #636363;
    color: #e6faff;
    margin-bottom: 1rem;
    padding-left: 1rem;
}

.span-post-no {
    text-align: right;
    margin-right: 1rem;
    float: right;
}

.post {
    margin-bottom: 2rem;
}

.likes {
    background: #636363;
    color: #e6faff;
    border-radius: .1rem;
    padding-left: 1rem;
    margin: -1.3rem;
}

a {
    color: #ececec;
    text-decoration: none;
}

a:hover {
    color: #d4525c;
    text-decoration: none;
}

table {
    margin-bottom: 1.2rem;
}

th {
    text-align: left;
}

/* @media only screen and (max-width: 580px) {*/
.user {
    background: #8386af1c;
    padding: 30px;
    margin-bottom: 40px;
}

/*}*/

li a {
    color: #efefef;
}

.breadcrumb {
    background-color: #636363;
    box-shadow: 3px 3px 10px 1px rgba(0, 0, 0, 0.1);
}

textarea .form-control {
    height: auto;
    box-shadow: 3px 3px 10px 1px rgba(0, 0, 0, 0.1);
}


.user-img {
    width: 140px;
    height: 140px;
    object-fit: cover;
    border-radius: 50%;
}

.vote {
    position:absolute;
    right: 0;
    bottom: 40px;
}

.vote-count {
    font-size: 30px;
}

a .fa {
    color: #ff9000;
}

a .fa-trash {
    color: red;
}

a .fa:hover {
    color: #FFC382;
}

.fa {
    color: grey;
}